@charset "utf-8";
/* CSS Document */
/* =============================================================
 	First Name			: 	Strahinja     					    
 	Last Name			: 	Popovic					            
 	Developer Name      : 	CodexDeveloper					        
 	WebMaster Email		:	spope.mails@gmail.com               
 ============================================================== */

/* ***************************************************************************************** */
/* Definition of the css stylingn variables ************************************************ */
/* ***************************************************************************************** */

:root {
    --black: black;
    --white: white;
    --grey: rgb(240, 240, 240);
    --light-web-blue: rgb(12, 209, 235);
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
    border: 0px solid var(--light-web-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* Header main section with name and links ************************************************* */
/* ***************************************************************************************** */
header.header-main {
    width: 100%;
    height: 70px;
    display: flex;
    line-height: 2;
    flex-direction: row;
    background-color: black;
    border-bottom: 1px solid var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Name title section on the left ********************************************************** */
/* ***************************************************************************************** */
header.header-main section.main-title {
    width: 50%;
}

header.header-main section.main-title p {
    font-size: 35px;
    color: var(--grey);
    margin-left: 100px;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.header-main section.main-title p span.span-name {
    color: var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Navigation panel on the right *********************************************************** */
/* ***************************************************************************************** */
header.header-main nav.nav-bar-main {
    width: calc(50% - 100px);
}

header.header-main nav.nav-bar-main ul.my-links {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

header.header-main nav.nav-bar-main ul.my-links li:first-child.empty-list {
    width: calc(100% - 498px);
}

header.header-main nav.nav-bar-main ul.my-links li {
    position: relative;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(2) {
    width: 120px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(4) {
    width: 70px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(6) {
    width: 150px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(8) {
    width: 100px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(3),
li:nth-child(5),
li:nth-child(7) {
    width: 20px;
}

/* Navigation links *********************************************************** */
header.header-main nav.nav-bar-main ul.my-links li a {
    margin: 0;
    bottom: 10px;
    display: block;
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    color: var(--light-web-blue);
    border-bottom: 3px solid var(--light-web-blue);
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* End of Main header section and navigation panel ***************************************** */
/* ***************************************************************************************** */

/* ***************************************************************************************** */
/* Sub-header with image on the left and sub-title description on the right **************** */
/* ***************************************************************************************** */
section.sub-header {
    width: 100%;
    height: 151px;
    display: flex;
    line-height: 2;
    margin: 0px auto;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--light-web-blue);
    background-image: url(../images/backgrounds/bcg-sub-title-v1.jpg);
}

section.sub-header div.my-image {
    width: 125px;
    height: 151px;
    margin-left: 100px;
    background-color: var(--light-web-blue);
}

section.sub-header div.quoted-text {
    position: relative;
    width: calc(100% - 225px);
}

section.sub-header div.my-image img.personal {
    width: 125px;
    height: 150px;
}

section.sub-header div.quoted-text p:first-child {
    right: 100px;
    bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    color: var(--grey);
    font-family: Cambria, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* End of Sub-header section *************************************************************** */
/* ***************************************************************************************** */

/* ***************************************************************************************** */
/* About Me section ************************************************************************ */
/* Work section **************************************************************************** */
/* Contact Me section ********************************************************************** */
/* ***************************************************************************************** */
main.desc-block {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--light-web-blue);
}

section.about-me-desc,
section.my-work-desc,
section.contact-me-info {
    width: 100%;
    height: auto;
    border-bottom: 0px solid var(--light-web-blue);
}

section.my-work-desc table.my-work-tbl tr td:nth-child(2) {
    background-color: var(--black);
}

section.about-me-desc table.about-me-tbl,
section.my-work-desc table.my-work-tbl,
section.contact-me-info table.contact-me-tbl {
    height: auto;
    margin: 20px 100px;
    width: calc(100% - 200px);
}

section.about-me-desc table.about-me-tbl tr td:first-child.td-post,
section.my-work-desc table.my-work-tbl tr td:first-child.td-post,
section.contact-me-info table.contact-me-tbl tr td:first-child.td-post {
    width: 15%;
    padding-right: 20px;
    border-right: 3px solid var(--light-web-blue);
}

section.about-me-desc table.about-me-tbl tr td:last-child,
section.my-work-desc table.my-work-tbl tr td:last-child,
section.contact-me-info table.contact-me-tbl tr td:last-child {
    width: 85%;
}

section.about-me-desc table.about-me-tbl tr td:first-child.td-post p,
section.my-work-desc table.my-work-tbl tr td:first-child.td-post p,
section.contact-me-info table.contact-me-tbl tr td:first-child.td-post p {
    line-height: 1.2;
    text-align: right;
    font-size: xx-large;
    letter-spacing: 2px;
    color: var(--light-web-blue);
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.about-me-desc table.about-me-tbl tr td:last-child p {
    font-size: 20px;
    margin-left: 20px;
    color: var(--grey);
    text-align: justify;
    padding: 20px 20px 20px 20px;
    border: 3px solid var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Work section with description images and tables ***************************************** */
/* ***************************************************************************************** */
/*section.my-work-desc table.my-work-tbl tr td:not(:first-child) {
    width: 90%;
}

section.about-me-desc table.about-me-tbl tr td:last-child {
    width: 90%;
}
*/

section.my-work-desc table.my-work-tbl table.work-sub-tbl {
    height: auto;
    width: calc(100% - 20px);
    margin: 20px 0px 20px 20px;
    border: 3px solid var(--light-web-blue);
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl tr td {
    height: auto;
    width: calc(100% / 3);
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl tr td table.work-desc-icons-tbl {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 20px 20px;
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl tr td table.work-desc-icons-tbl tr th {
    width: 150px;
    height: auto;
    padding: 20px 0;
    font-size: 24px;
    color: var(--grey);
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl tr td table.work-desc-icons-tbl tr td {
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 40px 30px 40px 30px;
    border: 3px solid var(--light-web-blue);
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img.dev {
    width: auto;
    height: 200px;
    margin-left: calc((100% - 360px) / 2);
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img:not(img.dev) {
    width: auto;
    height: 200px;
    margin-left: calc((100% - 200px) / 2);
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img:not(img.dev, img.git) {
    border-radius: 35px;
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img.git,
section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img.dev {
    border-radius: 15px;
}

section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img.dev:hover,
section.my-work-desc table.my-work-tbl table.work-sub-tbl table.work-desc-icons-tbl tr td img:hover {
    transform: scale(1.1);
    border: 3px solid var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Contact me section **************************** ***************************************** */
/* ***************************************************************************************** */

section.contact-me-info table.contact-me-tbl tr td:last-child table.contact-me-sub-tbl {
    height: auto;
    width: calc(100% - 20px);
    margin: 20px 0 20px 20px;
    border: 3px solid var(--light-web-blue);
}

section.contact-me-info table.contact-me-tbl tr td:last-child table.contact-me-sub-tbl tr td {
    height: auto;
    width: calc(100% / 7);
}

section.contact-me-info table.contact-me-tbl tr td:last-child table.contact-me-sub-tbl tr td a {
    height: auto;
    display: block;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 20px 0px 20px 0px;
    margin: 20px 20px 20px 20px;
    color: var(--light-web-blue);
    border-bottom: 3px solid var(--light-web-blue);
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* End of About Me section ***************************************************************** */
/* ***************************************************************************************** */
/* End of Work section ********************************************************************* */
/* ***************************************************************************************** */
/* End of Contact Me section *************************************************************** */
/* ***************************************************************************************** */

/* ***************************************************************************************** */
/* Footer section ************************************************************************** */
/* ***************************************************************************************** */
footer {
    width: 100%;
    height: 200px;
    line-height: 2;
    text-align: left;
    background-color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p span.span-info {
    color: var(--grey);
}

footer p {
    left: 100px;
    display: block;
    font-size: 14px;
    text-align: left;
    letter-spacing: 1px;
    margin: 0 100px 0 100px;
    color: var(--light-web-blue);
}

footer p:first-child {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: normal;
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p:last-child {
    bottom: 50px;
    border-bottom: 0px solid var(--light-web-blue);
}

/* ***************************************************************************************** */
/* End of Footer section ******************************************************************* */
/* ***************************************************************************************** */