@charset "utf-8";
/* CSS Document */
/* =============================================================
 	First Name			: 	Strahinja     					    
 	Last Name			: 	Popovic					            
 	Developer Name      : 	CodexDeveloper					        
 	WebMaster Email		:	spope.mails@gmail.com               
 ============================================================== */

/* ***************************************************************************************** */
/* Definition of the css stylingn variables ************************************************ */
/* ***************************************************************************************** */

:root {
    --black: black;
    --white: white;
    --grey: rgb(240, 240, 240);
    --light-web-blue: rgb(12, 209, 235);
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
    border: 0px solid var(--light-web-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* Header main section with name and links ************************************************* */
/* ***************************************************************************************** */
header.header-main {
    width: 100%;
    height: 70px;
    display: flex;
    line-height: 2;
    flex-direction: row;
    background-color: black;
    border-bottom: 1px solid var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Name title section on the left ********************************************************** */
/* ***************************************************************************************** */
header.header-main section.main-title {
    width: 50%;
}

header.header-main section.main-title p {
    font-size: 35px;
    color: var(--grey);
    margin-left: 100px;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.header-main section.main-title p span.span-name {
    color: var(--light-web-blue);
}

/* ***************************************************************************************** */
/* Navigation panel on the right *********************************************************** */
/* ***************************************************************************************** */
header.header-main nav.nav-bar-main {
    width: calc(50% - 100px);
}

header.header-main nav.nav-bar-main ul.my-links {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

header.header-main nav.nav-bar-main ul.my-links li:first-child.empty-list {
    width: calc(100% - 498px);
}

header.header-main nav.nav-bar-main ul.my-links li {
    position: relative;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(2) {
    width: 120px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(4) {
    width: 70px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(6) {
    width: 150px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(8) {
    width: 100px;
}

header.header-main nav.nav-bar-main ul.my-links li:nth-child(3),
li:nth-child(5),
li:nth-child(7) {
    width: 20px;
}

/* Navigation links *********************************************************** */
header.header-main nav.nav-bar-main ul.my-links li a {
    margin: 0;
    bottom: 10px;
    display: block;
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    color: var(--light-web-blue);
    border-bottom: 3px solid var(--light-web-blue);
    font-family: 'furore', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* End of Main header section and navigation panel ***************************************** */
/* ***************************************************************************************** */

/* ***************************************************************************************** */
/* Sub-header with image on the left and sub-title description on the right **************** */
/* ***************************************************************************************** */
section.sub-header {
    width: 100%;
    height: 151px;
    display: flex;
    line-height: 2;
    margin: 0px auto;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--light-web-blue);
    background-image: url(../images/backgrounds/bcg-sub-title-v1.jpg);
}

section.sub-header div.my-image {
    width: 125px;
    height: 151px;
    margin-left: 100px;
    background-color: var(--light-web-blue);
}

section.sub-header div.quoted-text {
    position: relative;
    width: calc(100% - 225px);
}

section.sub-header div.my-image img.personal {
    width: 125px;
    height: 150px;
}

section.sub-header div.quoted-text p:first-child {
    right: 100px;
    bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    color: var(--grey);
    font-family: Cambria, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ***************************************************************************************** */
/* End of Sub-header section *************************************************************** */
/* ***************************************************************************************** */